@media(min-width:1025px) {
    .header {

        &__list {

            >li {
                margin-left: 30px;

                &:first-child {
                    margin-left: 45px;
                }
            }
        }

        &__social {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-left: auto;

            &-link {
                &:not(:first-child) {
                    margin-left: 30px;
                }
            }

            &-dealer {
                margin-left: 40px;
            }
        }

        &__link {
            &--btn-submenu {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            &--submenu {
                position: absolute;
            }
        }

        &__lang-mob {
            display: none;
        }
    }
}

@media(min-width:860px) {
    .footer {

        &__item {
            &-copyright {
                margin-left: 57px;
            }

        }
    }
}

@media(min-width:768px) {
    .footer {
        &__lists {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

        }

        &__item {
            -webkit-box-flex: 0;
            -ms-flex: 0 1 25%;
            flex: 0 1 25%;



            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
}

@media(min-width:668px) {
    .header {
        &__menu {
            .header__social-mob {
                display: none;
            }
        }

        &__lang {
            &-mob {
                display: none;
            }
        }
    }
}

@media(max-width:1024px) {
    .header {
        &__menu {}

        &__list {
            margin-bottom: 82px;

            li {
                &:not(:last-child) {
                    margin-bottom: 40px;
                }
            }
        }

        &__link {
            &--submenu {
                position: unset;
                background: transparent;
                -webkit-box-shadow: none;
                box-shadow: none;

                ul {
                    li {
                        a {
                            color: #A5DDE2;
                        }
                    }
                }
            }

            &--btn-submenu {
                svg {
                    position: absolute;
                    top: 9px;

                    path {
                        stroke: #fff;
                    }
                }

                &.show {
                    color: #fff;

                    svg {
                        path {
                            stroke: #fff;
                        }
                    }
                }
            }
        }

        &__social {

            &-link {
                margin-right: 30px;

            }
        }
    }

    .about__brend {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;

        &--img {
            margin-right: 0;
            margin-top: 40px;
        }
    }

    .catalog {
        &__home {
            &--lists {
                grid-template-columns: 1fr;
            }

            &--item {
                &-title {
                    font-size: 1rem;
                    line-height: 22px;
                    padding: 0;
                }
            }
        }

    }

    .footer {
        &__item {
            &--form-fields {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;

                input[type="search"] {
                    margin-bottom: 10px;
                }

                input[type="button"] {
                    margin-left: 0;
                    max-width: 139px;
                }
            }

        }

    }
}

@media(max-width:768px) {
    .header {
        &__social {
            &-link {
                margin-right: 20px;
            }
        }

        &__lang {
            margin-left: 20px;
        }
    }

    .slider {
        &__first {
            &--item {

                &-title {
                    font-size: 40px;
                    line-height: 48px;
                }
            }
        }
    }

    .heading__box {
        padding-bottom: 20px;

        &--title {
            font-size: 30px;
            line-height: 36px;
        }

    }

    .about__brend {
        padding-left: 60px;
        padding-right: 60px;
    }

    .catalog {
        &__home {
            &--lists {
                grid-template-columns: 1fr 1fr;
                margin-bottom: 40px;
            }

            &--item {
                margin-bottom: 20px;
                min-height: 250px;

                &-img {
                    padding-top: 30px;

                }
            }
        }

    }

    body {
        &.blogs {
            .blog {

                &__body {
                    &--lists {
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: auto;
                        gap: 40px;
                    }

                }

            }
        }
    }

    .contacts {
        &__columns {
            grid-template-columns: 1fr;

        }

        &__column {
            &--lists {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
            }

        }

    }
}

@media(max-width:767px) {
    .header {

        &__list {

            li {
                &:not(:last-child) {}
            }
        }

        &__social {

            &-link {
                margin-right: 20px;

            }
        }
    }

    .footer {
        &__lists {
            gap: 30px;
            text-align: center;
        }

        &__item {
            &-logo {
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;


            }

            &:not(:last-child) {
                margin-left: 30px;
                gap: 0;
                margin-bottom: 40px;
            }

            &-copyright {
                margin-left: 0;
            }

            &--form-fields {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;

                input[type="button"] {
                    margin-left: -55px;
                }
            }
        }
    }
}

@media(max-width:668px) {
    .header {
        &__body {
            >.header__social {
                display: none;
            }

            >.header__lang {
                display: none;
            }
        }


        &__lang {
            &-mob {
                display: inline-block;

                ul {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    margin-bottom: 50px;

                    li {
                        color: #fff;

                        &:not(:last-child) {
                            margin-right: 10px;
                        }

                        a {
                            text-transform: uppercase;
                            font-size: 14px;
                            line-height: 19px;
                            color: #fff;
                        }
                    }
                }
            }
        }

        &__social {
            &-mob {
                .header__social-dealer {
                    margin-top: 30px;
                    padding: 0 15px;

                    a.dealer {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }

    .delivery {
        &__body {
            .block__grey {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;

                img {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media(max-width:640px) {
    .header {


        &__burger {
            width: 50px;
            height: 50px;
        }
    }

    .slider {
        &__first {
            &--item {

                &-title {
                    font-size: 30px;
                    line-height: 36px;
                }
            }

        }
    }

    .about__brend {
        padding-left: 20px;
        padding-right: 20px;
    }

    body {
        &.blogs {
            .blog {

                &__body {
                    &--lists {
                        grid-template-columns: 1fr;

                    }

                }

            }
        }
    }

    .contacts {
        &__columns {
            grid-template-columns: 1fr;

        }

        &__column {
            &--lists {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

        }

    }
}

@media(max-width:570px) {
    .popup {
        &__close--btn {
            margin-bottom: 20px;
        }

        &__body {
            padding: 15px;
            width: 95%;
            height: auto;
            padding-bottom: 30px;
        }

        &__title {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 30px;
        }

        &__form {
            form {

                input {
                    padding: 15px 20px;

                }
            }
        }
    }

    .contacts {

        &__column {
            &--form {
                padding: 40px;

                .form__fields {
                    grid-template-columns: 1fr;
                    gap: 0;
                }
            }
        }
    }
}

@media(max-width: 480px) {
    .catalog {
        &__home {
            &--lists {
                grid-template-columns: 1fr;
            }

            &--item {
                &-img {
                    padding: 20px 5px;
                }

            }
        }

    }

    .contacts {
        &__columns {}

        &__column {
            &--form {
                padding: 20px;

            }
        }
    }
}