@media(min-width:1025px) {
    .header {

        &__list {

            li {
                margin-left: 30px;

                &:first-child {
                    margin-left: 45px;
                }
            }
        }

        &__social {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-left: auto;

            &-link {
                &:not(:first-child) {
                    margin-left: 30px;
                }
            }

            &-dealer {
                margin-left: 40px;
            }
        }

    }
}

@media(min-width:860px) {
    .footer {

        &__item {
            &-copyright {
                margin-left: 57px;
            }

        }
    }
}

@media(min-width:768px) {
    .footer {
        &__lists {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

        }

        &__item {
            -webkit-box-flex: 0;
            -ms-flex: 0 1 25%;
            flex: 0 1 25%;



            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
}

@media(min-width:641px) {
    .header {
        &__menu {
            .header__social-mob {
                display: none;
            }
        }
    }
}

@media(max-width:1024px) {
    .header {
        &__menu {}

        &__list {
            margin-bottom: 82px;

            li {
                &:not(:last-child) {
                    margin-bottom: 40px;
                }
            }
        }

        &__social {

            &-link {
                margin-right: 30px;

            }
        }
    }

    .footer {
        &__item {
            &--form-fields {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;

                input[type="search"] {
                    margin-bottom: 10px;
                }

                input[type="button"] {
                    margin-left: 0;
                    max-width: 139px;
                }
            }

        }

    }
}

@media(max-width:767px) {
    .header {
        &__menu {}

        &__list {

            li {
                &:not(:last-child) {}
            }
        }

        &__social {

            &-link {
                margin-right: 20px;

            }
        }
    }

    .footer {
        &__lists {
            gap: 30px;
            text-align: center;
        }

        &__item {
            &-logo {
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;


            }

            &:not(:last-child) {
                margin-left: 30px;
                gap: 0;
                margin-bottom: 40px;
            }

            &-copyright {
                margin-left: 0;
            }

            &--form-fields {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;

                input[type="button"] {
                    margin-left: -55px;
                }
            }
        }
    }
}

@media(max-width:640px) {
    .header {
        &__body {
            >.header__social {
                display: none;
            }

        }

        &__social {
            &-mob {
                .header__social-dealer {
                    margin-top: 30px;
                    padding: 0 15px;

                    a.dealer {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }

        &__burger {
            width: 50px;
            height: 50px;
        }
    }
}