.product {
    .breadcrumbs {
        background: url(/assets/img/icon/product-bread.svg ), #0C2855, ;

        &__lists {
            ul {
                margin-bottom: 0;
            }
        }
    }

    &__body {
        &--sku {
            font-weight: 400;
            font-size: 14px;
            line-height: 135.714286%;
            /* 19/14 */
            color: #919191;
            margin-bottom: 10px;
        }

        &--title {
            font-family: 'Xolonium';
            font-weight: 700;
            font-size: 30px;
            line-height: 120%;
            /* 36/30 */
            text-transform: uppercase;
            color: #0C2855;
            margin-bottom: 30px;
        }

        &--description {
            font-weight: 400;
            font-size: 16px;
            line-height: 137.5%;
            /* 22/16 */
            color: #0C2855;
            margin-bottom: 30px;
        }

        &--color {}

        &--complection {
            .product_meta {}
        }

        &--price {}

        &--btn {}
    }
}