/*Reset*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  background-color: #fff;
}
._container__big{
  max-width: 1660px;
  margin: 0 auto;
}
