@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
@font-face {
  font-family: 'Xolonium';
  src: url("Xolonium.eot");
  src: local("Xolonium"), url("/assets/fonts/Xolonium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Xolonium.woff2") format("woff2"), url("/assets/fonts/Xolonium.woff") format("woff"), url("/assets/fonts/Xolonium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: 'Xolonium';
  src: url("Xolonium-Bold.eot");
  src: local("Xolonium Bold"), local("Xolonium-Bold"), url("/assets/fonts/Xolonium-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Xolonium-Bold.woff2") format("woff2"), url("/assets/fonts/Xolonium-Bold.woff") format("woff"), url("/assets/fonts/Xolonium-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  display: swap;
}
/*Reset*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  background-color: #fff;
}

._container__big {
  max-width: 1690px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/*Menu Burger*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0 15px;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}
.header .container {
  max-width: 1660px;
  margin: 0 auto;
}
.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 98px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 227px;
  flex: 0 1 227px;
  z-index: 3;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  color: #0C2855;
  z-index: 2;
  position: relative;
}
.header__list li {
  position: relative;
}
.header__list li.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__list li a {
  color: #0C2855;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 137.5%;
  font-weight: 600;
}
.header__burger {
  display: none;
}
.header__social {
  z-index: 2;
  position: relative;
}
.header__social-dealer {
  z-index: 2;
}
.header__social-dealer--link {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #0C2855;
  padding: 15px 40px;
  background: #F3F3F3;
  border-radius: 100px;
}
.header__lang {
  margin-left: 50px;
}
.header__lang ul {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__lang ul li {
  color: #919191;
}
.header__lang ul li:not(:last-child) {
  margin-right: 5px;
}
.header__lang ul li a {
  color: #919191;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}
.header__link--btn-submenu {
  position: relative;
}
.header__link--btn-submenu::after {
  content: '';
  background: url();
}
.header__link--btn-submenu svg {
  margin-left: 8px;
}
.header__link--btn-submenu.show {
  color: #00B18B;
}
.header__link--btn-submenu.show svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.header__link--btn-submenu.show svg path {
  stroke: #00B18B;
}
.header__link--submenu {
  display: none;
  position: relative;
  top: 36px;
  left: -100px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  min-width: 300px;
  padding: 30px 10px;
  cursor: pointer;
}
.header__link--submenu ul li:not(:last-child) {
  margin-bottom: 10px;
}
.header__link--submenu ul li a {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #0C2855;
  text-transform: inherit;
}
.header__link--submenu ul li a:hover {
  color: #00B18B;
}
.header__link--submenu.show {
  display: inline-block;
}

.main {
  padding-top: 100px;
}

@media (max-width: 1024px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 54px;
    height: 54px;
    z-index: 3;
    cursor: pointer;
    background-color: #00B18B;
    border-radius: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-right: 10px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .header__burger span {
    background-color: #0C2855;
    width: 30px;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 8px 0 8px;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #0C2855;
    width: 30px;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:after {
    width: 17px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 26px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 26px;
    position: absolute;
    width: 30px;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #0C2855;
    padding: 170px 0 0 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: 2;
  }
  .header__menu.active {
    left: 0;
    z-index: 2;
  }
  .header__list {
    display: block;
  }
  .header__list li a {
    color: #fff;
  }
  .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*---------Template----------------------*/
.show {
  display: inline-block;
}

.lock {
  overflow-y: hidden;
}

.btn {
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}
.btn__navy {
  background: #0C2855;
  color: #FFFFFF;
}
.btn__navy:hover {
  background: #00B18B;
}

.heading__box {
  padding: 60px 0 40px;
}
.heading__box--title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #0C2855;
}

.popup__close--btn {
  text-align: end;
  margin-bottom: 40px;
}
.popup__body {
  max-width: 500px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  padding: 20px 20px 20px 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  background: #fff;
  -webkit-box-shadow: 1px 0px 0px 1920px rgba(0, 0, 0, 0.7);
  box-shadow: 1px 0px 0px 1920px rgba(0, 0, 0, 0.7);
  display: none;
}
.popup__body.show {
  display: inline-block;
}
.popup__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #0C2855;
  margin-bottom: 40px;
}
.popup__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.popup__form form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #0C2855;
  margin-bottom: 5px;
}
.popup__form form input {
  background-color: #f3f3f3;
  padding: 15px 20px;
  max-width: 400px;
  width: 100%;
}
.popup__form form input:not(:last-child) {
  margin-bottom: 30px;
}
.popup__form form input[type="submit"] {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  background: #0C2855;
  border-radius: 100px;
  padding: 10px 30px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}
.popup__form form input[type="submit"]:hover {
  background: #00B18B;
}

/*----Footer down (Липкий Footer)---------*/
html,
body {
  height: 100%;
  /*Magic*/
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  /*Magic*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Magic*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*Magic*/
}

.header {
  font-size: 24px;
  background-color: #fff;
  text-align: center;
  color: #0C2855;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  /*Magic*/
}

/*-----------Home Slider style------------------------------*/
.slider__first {
  background: url(/assets/img/icon/filter.svg) 50% 50% no-repeat, -o-linear-gradient(255.34deg, #0C2855 44.09%, rgba(12, 40, 85, 0.5) 84.13%), url(/assets/img/icon/pattern.svg) 0 0 repeat;
  background: url(/assets/img/icon/filter.svg) 50% 50% no-repeat, linear-gradient(194.66deg, #0C2855 44.09%, rgba(12, 40, 85, 0.5) 84.13%), url(/assets/img/icon/pattern.svg) 0 0 repeat;
  padding-bottom: 60px;
}
.slider__first--lists {
  padding: 50px 0 41px;
}
.slider__first--lists.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slider__first--lists .slick-dots li button {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.slider__first--lists .slick-dots li.slick-active button {
  background-color: #fff;
}
.slider__first--lists .slick-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #a5dde234;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}
.slider__first--lists .slick-arrow:before {
  color: #0c2855c5;
}
.slider__first--lists .slick-arrow:hover {
  background-color: #A5DDE2;
}
.slider__first--lists .slick-arrow:hover::before {
  color: #0C2855;
}
.slider__first--lists .slick-next {
  right: 0;
  z-index: 3;
}
.slider__first--lists .slick-prev {
  left: 0;
  z-index: 3;
}
.slider__first--item-subtitle {
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.slider__first--item-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 680px;
}
.slider__first--item-img {
  max-width: 328px;
  margin: 0 auto;
  position: relative;
}
.slider__first--item-btn {
  text-align: center;
}
.slider__first--item-btn a {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #0C2855;
  background: #A5DDE2;
  border-radius: 100px;
  display: inline-block;
  padding: 15px 40px;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}
.slider__first--item-btn a:hover {
  background-color: #fff;
}

/*----------------Home Page-----------------*/
.about__brend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 175px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 80px;
}
.about__brend--img {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  margin-right: 70px;
}
.about__brend--text {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  font-weight: 400;
  font-size: 1rem;
  color: #0C2855;
  line-height: 22px;
}
.about__brend--text p:not(:last-child) {
  margin-bottom: 20px;
}

/*-----------Catalog----------------*/
.catalog__home {
  padding-bottom: 80px;
  background-color: #A5DDE2;
}
.catalog__home--lists.slick-initialized .slick-slide {
  margin: 0 10px;
}
.catalog__home .arrow__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto 40px;
  width: 250px;
}
.catalog__home .arrow__btns .slick-dots {
  position: unset;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  width: auto;
}
.catalog__home .arrow__btns .slick-dots li button {
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.catalog__home .arrow__btns .slick-dots li.slick-active button {
  background-color: #0C2855;
}
.catalog__home .arrow__btns .slick-prevBtn {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.catalog__home .arrow__btns .slick-nextBtn {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}
.catalog__home .arrow__btns .slick-arrow {
  background: rgba(255, 255, 255, 0.505);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}
.catalog__home .arrow__btns .slick-arrow svg {
  fill: #0c285542;
}
.catalog__home .arrow__btns .slick-arrow:hover {
  background: #fff;
}
.catalog__home .arrow__btns .slick-arrow:hover svg {
  fill: #0c2855;
}
.catalog__home .slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.catalog__home--item {
  background: -o-linear-gradient(302.86deg, rgba(255, 255, 255, 0) 19.62%, #FFFFFF 55.38%), url(/assets/img/catalog/category-bg.png) 0 0 repeat, #fff;
  background: linear-gradient(147.14deg, rgba(255, 255, 255, 0) 19.62%, #FFFFFF 55.38%), url(/assets/img/catalog/category-bg.png) 0 0 repeat, #fff;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  overflow-y: hidden;
}
.catalog__home--item:hover {
  background: -o-linear-gradient(302.86deg, rgba(255, 255, 255, 0.5) 19.62%, #FFFFFF 55.38%), url(/assets/img/catalog/category-bg.png) 0 0 repeat, #fff;
  background: linear-gradient(147.14deg, rgba(255, 255, 255, 0.5) 19.62%, #FFFFFF 55.38%), url(/assets/img/catalog/category-bg.png) 0 0 repeat, #fff;
  box-shadow: 10px 55px 65px -61px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 10px 55px 65px -61px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 10px 55px 65px -61px rgba(255, 255, 255, 0.75);
}
.catalog__home--item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 10px 10px 10px;
  max-width: 400px;
}
.catalog__home--item-img img {
  -o-object-fit: cover;
  object-fit: cover;
}
.catalog__home--item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #0C2855;
  padding: 10px;
}
.catalog__home--link {
  text-align: center;
}

/*--------------Blog------------------*/
.blog {
  padding-bottom: 80px;
}
.blog__body--lists {
  margin-bottom: 40px;
}
.blog__body--item {
  padding: 0 10px;
}
.blog__body--item-img {
  margin-bottom: 20px;
  height: 230px;
}
.blog__body--item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.blog__body--item-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #919191;
  margin-bottom: 10px;
}
.blog__body--item-title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  color: #0C2855;
  margin-bottom: 10px;
}
.blog__body--item-exerpt {
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  color: #919191;
  margin-bottom: 15px;
}
.blog__body--item-more {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #0C2855;
}
.blog__body--btn {
  text-align: center;
}
.blog__arrow--btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto 40px;
  width: 250px;
}
.blog__arrow--btns .slick-dots {
  position: unset;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  width: auto;
}
.blog__arrow--btns .slick-dots li button {
  background: #A5DDE2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.blog__arrow--btns .slick-dots li.slick-active button {
  background-color: #0C2855;
}
.blog__arrow--btns .slick-prevBtn {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.blog__arrow--btns .slick-nextBtn {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}
.blog__arrow--btns button {
  background: #a5dde22f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}
.blog__arrow--btns button svg {
  fill: #0c285542;
}
.blog__arrow--btns button:hover {
  background: #A5DDE2;
}
.blog__arrow--btns button:hover svg {
  fill: #0c2855;
}

/*-------------Footer---------------------*/
.footer {
  padding: 50px 0;
  background-color: #0C2855;
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer__item-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.footer__item-copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 118.75%;
  text-transform: uppercase;
  color: #919191;
}
.footer__item--title {
  font-weight: 700;
  line-height: 137.5%;
  font-size: 1rem;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 14px;
}
.footer__item--menu ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer__item--menu ul li a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 137.5%;
  color: #A5DDE2;
}
.footer__item--form-title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  line-height: 137.5%;
  margin-bottom: 20px;
  color: #fff;
}
.footer__item--form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__item--form-fields input[type="search"] {
  border: 1px solid #919191;
  padding: 6px 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
  border-radius: 100px;
  background-color: transparent;
}
.footer__item--form-fields input[type="search"]:focus {
  color: #FFFFFF;
}
.footer__item--form-fields input[type="button"] {
  font-weight: 400;
  font-size: 14px;
  line-height: 118.75%;
  text-transform: uppercase;
  color: #0C2855;
  padding: 6px 20px;
  background: #A5DDE2;
  border-radius: 100px;
  margin-left: -20px;
  height: 100%;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .header__list > li {
    margin-left: 30px;
  }
  .header__list > li:first-child {
    margin-left: 45px;
  }
  .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .header__social-link:not(:first-child) {
    margin-left: 30px;
  }
  .header__social-dealer {
    margin-left: 40px;
  }
  .header__link--btn-submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__link--submenu {
    position: absolute;
  }
  .header__lang-mob {
    display: none;
  }
}
@media (min-width: 860px) {
  .footer__item-copyright {
    margin-left: 57px;
  }
}
@media (min-width: 768px) {
  .footer__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
  }
  .footer__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media (min-width: 668px) {
  .header__menu .header__social-mob {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header__list {
    margin-bottom: 82px;
  }
  .header__list li:not(:last-child) {
    margin-bottom: 40px;
  }
  .header__link--submenu {
    position: unset;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header__link--submenu ul li a {
    color: #A5DDE2;
  }
  .header__link--btn-submenu svg {
    position: absolute;
    top: 9px;
  }
  .header__link--btn-submenu svg path {
    stroke: #fff;
  }
  .header__link--btn-submenu.show {
    color: #fff;
  }
  .header__link--btn-submenu.show svg path {
    stroke: #fff;
  }
  .header__social-link {
    margin-right: 30px;
  }

  .about__brend {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .about__brend--img {
    margin-right: 0;
    margin-top: 40px;
  }

  .catalog__home--lists {
    grid-template-columns: 1fr;
  }
  .catalog__home--item-title {
    font-size: 1rem;
    line-height: 22px;
  }

  .footer__item--form-fields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__item--form-fields input[type="search"] {
    margin-bottom: 10px;
  }
  .footer__item--form-fields input[type="button"] {
    margin-left: 0;
    max-width: 139px;
  }
}
@media (max-width: 768px) {
  .header__social-link {
    margin-right: 20px;
  }
  .header__lang {
    margin-left: 20px;
  }

  .slider__first--item-title {
    font-size: 40px;
    line-height: 48px;
  }

  .heading__box {
    padding-bottom: 20px;
  }
  .heading__box--title {
    font-size: 30px;
    line-height: 36px;
  }

  .about__brend {
    padding-left: 60px;
    padding-right: 60px;
  }

  .catalog__home--lists {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
  }
  .catalog__home--item {
    margin-bottom: 20px;
    min-height: 250px;
  }
  .catalog__home--item-img {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .header__social-link {
    margin-right: 20px;
  }

  .footer__lists {
    gap: 30px;
    text-align: center;
  }
  .footer__item-logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer__item:not(:last-child) {
    margin-left: 30px;
    gap: 0;
    margin-bottom: 40px;
  }
  .footer__item-copyright {
    margin-left: 0;
  }
  .footer__item--form-fields {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer__item--form-fields input[type="button"] {
    margin-left: -55px;
  }
}
@media (max-width: 667px) {
  .header__body > .header__social {
    display: none;
  }
  .header__body > .header__lang {
    display: none;
  }
  .header__lang-mob {
    display: inline-block;
  }
  .header__lang-mob ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
  }
  .header__lang-mob ul li {
    color: #fff;
  }
  .header__lang-mob ul li:not(:last-child) {
    margin-right: 10px;
  }
  .header__lang-mob ul li a {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
  }
  .header__social-mob .header__social-dealer {
    margin-top: 30px;
    padding: 0 15px;
  }
  .header__social-mob .header__social-dealer a.dealer {
    width: 100%;
    display: block;
  }
}
@media (max-width: 640px) {
  .header__burger {
    width: 50px;
    height: 50px;
  }

  .slider__first--item-title {
    font-size: 30px;
    line-height: 36px;
  }

  .about__brend {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 570px) {
  .popup__close--btn {
    margin-bottom: 20px;
  }
  .popup__body {
    padding: 15px;
    width: 95%;
    height: auto;
    padding-bottom: 30px;
  }
  .popup__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .popup__form form input {
    padding: 15px 20px;
  }
}
@media (max-width: 480px) {
  .catalog__home--lists {
    grid-template-columns: 1fr;
  }
  .catalog__home--item-img {
    padding: 20px 5px;
  }
}
