@import 'fonts';
@import 'reset';
@import 'slick';
@import 'slick-theme';



/*Menu Burger*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0 15px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
  }

  .container {
    max-width: 1660px;
    margin: 0 auto;
  }

  &__body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 98px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 227px;
    flex: 0 1 227px;
    z-index: 3;
  }

  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    color: #0C2855;
    z-index: 2;
    position: relative;

    li {
      position: relative;

      &.show {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }

      a {
        color: #0C2855;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 137.5%;
        font-weight: 600;
      }

    }
  }


  &__burger {
    display: none;
  }

  &__social {
    z-index: 2;
    position: relative;

    &-link {}

    &-dealer {
      z-index: 2;

      &--link {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #0C2855;
        padding: 15px 40px;
        background: #F3F3F3;
        border-radius: 100px;
      }
    }
  }

  &__lang {
    margin-left: 50px;

    ul {
      z-index: 2;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      li {
        color: #919191;

        &:not(:last-child) {
          margin-right: 5px;
        }

        a {
          color: #919191;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          text-transform: uppercase;
        }
      }
    }
  }

  &__link {
    &--btn-submenu {
      position: relative;

      &::after {
        content: '';
        background: url();
      }

      svg {
        margin-left: 8px;
      }

      &.show {

        color: #00B18B;

        svg {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);

          path {
            stroke: #00B18B;

          }
        }
      }
    }

    &--submenu {
      display: none;
      position: relative;
      top: 36px;
      left: -100px;
      background: #FFFFFF;
      -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
      min-width: 300px;
      padding: 30px 10px;
      cursor: pointer;

      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 10px;
          }

          a {
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            color: #0C2855;
            text-transform: inherit;

            &:hover {
              color: #00B18B;
            }
          }
        }
      }

      &.show {
        display: inline-block;
      }
    }
  }

}

.main {
  padding-top: 100px;
}

@media (max-width: 1024px) {
  body.lock {
    overflow: hidden;
  }

  .header {
    &__body {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    &__burger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      width: 54px;
      height: 54px;
      z-index: 3;
      cursor: pointer;
      background-color: #00B18B;
      border-radius: 50%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      padding-right: 10px;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;

      span {
        background-color: #0C2855;
        width: 30px;
        height: 2px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        margin: 8px 0 8px;

      }

      &:before,
      &:after {
        content: "";
        background-color: #0C2855;
        width: 30px;
        height: 2px;

        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;

      }

      &:after {
        width: 17px;
      }

      &.active span {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
      }

      &.active::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 26px;
      }

      &.active::after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 26px;
        position: absolute;
        width: 30px;
      }
    }

    &__menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #0C2855;
      padding: 170px 0 0 0;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      z-index: 2;

      &.active {
        left: 0;
        z-index: 2;
      }
    }

    &__list {
      display: block;

      li {
        a {
          color: #fff;
        }
      }
    }

    &__social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }

}

/*---------Template----------------------*/
.show {
  display: inline-block;
}

.lock {
  overflow-y: hidden;
}

.btn {
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;

  &__navy {
    background: #0C2855;
    color: #FFFFFF;

    &:hover {
      background: #00B18B;
    }
  }
}

.heading {
  &__box {
    padding: 60px 0 40px;

    &--title {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      text-transform: uppercase;
      color: #0C2855;
    }
  }

}

.popup {

  &__close--btn {
    text-align: end;
    margin-bottom: 40px;
  }

  &__body {
    max-width: 500px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    padding: 20px 20px 20px 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100;
    background: #fff;
    -webkit-box-shadow: 1px 0px 0px 1920px rgba(0, 0, 0, .7);
    box-shadow: 1px 0px 0px 1920px rgba(0, 0, 0, .7);
    display: none;

    &.show {
      display: inline-block;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #0C2855;
    margin-bottom: 40px;
  }

  &__form {
    form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      label {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #0C2855;
        margin-bottom: 5px;
      }

      input {
        background-color: #f3f3f3;
        padding: 15px 20px;
        max-width: 400px;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        &[type="submit"] {
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
          margin: 0 auto;
          background: #0C2855;
          border-radius: 100px;
          padding: 10px 30px;
          text-transform: uppercase;
          cursor: pointer;
          -webkit-transition: all ease .5s;
          -o-transition: all ease .5s;
          transition: all ease .5s;

          &:hover {
            background: #00B18B;
          }
        }
      }
    }
  }
}

.breadcrumbs {
  padding: 30px 15px;
  background: url(/assets/img/icon/pattern-small.svg) 0 0 no-repeat;

  background-size: cover;

  &__lists {
    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 20px;

      li {
        color: #919191;

        &:not(:last-child) {
          margin-right: 20px;
        }

        a {
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: #919191;

          &.active {
            color: #fff;
          }
        }
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

/*-----------------Page All Style-----------------*/
.block__grey {
  background: #F3F3F3;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 28px;
  margin-bottom: 20px;

  img {
    margin-right: 20px;
  }
}


/*----Footer down (Липкий Footer)---------*/
html,
body {
  height: 100%;
  /*Magic*/
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  /*Magic*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Magic*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*Magic*/
}

.header {
  font-size: 24px;
  background-color: #fff;
  text-align: center;
  color: #0C2855;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  /*Magic*/
}

/*-----------Home Slider style------------------------------*/
.slider {
  &__first {

    background: url(/assets/img/icon/filter.svg) 50% 50% no-repeat, -o-linear-gradient(255.34deg, #0C2855 44.09%, rgba(12, 40, 85, 0.5) 84.13%), url(/assets/img/icon/pattern.svg) 0 0 repeat;

    background: url(/assets/img/icon/filter.svg) 50% 50% no-repeat, linear-gradient(194.66deg, #0C2855 44.09%, rgba(12, 40, 85, 0.5) 84.13%), url(/assets/img/icon/pattern.svg) 0 0 repeat;
    padding-bottom: 60px;

    &--lists {
      padding: 50px 0 41px;

      &.slick-dotted.slick-slider {
        margin-bottom: 0;
      }

      .slick-dots {
        li {
          button {
            background: rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            width: 10px;
            height: 10px;
          }

          &.slick-active {
            button {
              background-color: #fff;
            }
          }
        }
      }

      .slick-arrow {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #a5dde234;
        -webkit-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;

        &:before {
          color: #0c2855c5;
        }

        &:hover {
          background-color: #A5DDE2;

          &::before {
            color: #0C2855;
          }
        }
      }

      .slick-next {
        right: 0;
        z-index: 3;
      }

      .slick-prev {
        left: 0;
        z-index: 3;
      }
    }

    &--item {
      &-subtitle {
        font-weight: 400;
        font-size: 1rem;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 10px;
      }

      &-title {
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        max-width: 680px;
      }

      &-img {
        max-width: 328px;
        margin: 0 auto;
        position: relative;


      }

      &-btn {
        text-align: center;

        a {
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          text-transform: uppercase;
          color: #0C2855;
          background: #A5DDE2;
          border-radius: 100px;
          display: inline-block;
          padding: 15px 40px;
          -webkit-transition: all ease .5s;
          -o-transition: all ease .5s;
          transition: all ease .5s;

          &:hover {
            background-color: #fff;
          }
        }
      }
    }
  }
}

/*----------------Home Page-----------------*/
.about__brend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 175px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 80px;

  &--img {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin-right: 70px;
  }

  &--text {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    font-weight: 400;
    font-size: 16px;
    color: #0C2855;
    line-height: 22px;

    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

/*-----------Catalog----------------*/
.catalog {
  &__home {
    padding-bottom: 80px;
    background-color: #A5DDE2;

    &--lists {

      &.slick-initialized .slick-slide {
        margin: 0 10px;
      }

    }

    .arrow__btns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 0 auto 40px;
      width: 250px;

      .slick {
        &-dots {
          position: unset;
          -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
          order: 2;
          width: auto;

          li {
            button {
              background: #fff;
              width: 10px;
              height: 10px;
              border-radius: 50%;
            }

            &.slick-active {
              button {
                background-color: #0C2855;
              }

            }
          }

        }


        &-prevBtn {
          -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
          order: 1;
        }

        &-nextBtn {
          -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
          order: 3;
        }
      }

      .slick-arrow {
        background: rgba(255, 255, 255, 0.505);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        -webkit-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;

        svg {
          fill: #0c285542;
        }

        &:hover {
          background: #fff;

          svg {
            fill: #0c2855;
          }
        }
      }

    }

    .slick-dotted.slick-slider {
      margin-bottom: 30px;

    }

    &--item {
      background: -o-linear-gradient(302.86deg, rgba(255, 255, 255, 0) 19.62%, #FFFFFF 55.38%), url(/assets/img/catalog/category-bg.png) 0 0 repeat, #fff;
      background: linear-gradient(147.14deg, rgba(255, 255, 255, 0) 19.62%, #FFFFFF 55.38%), url(/assets/img/catalog/category-bg.png) 0 0 repeat, #fff;
      -webkit-transition: all ease .5s;
      -o-transition: all ease .5s;
      transition: all ease .5s;
      overflow-y: hidden;
      max-height: 500px;

      &:hover {
        background: -o-linear-gradient(302.86deg, rgba(255, 255, 255, 0.5) 19.62%, #FFFFFF 55.38%), url(/assets/img/catalog/category-bg.png) 0 0 repeat, #fff;
        background: linear-gradient(147.14deg, rgba(255, 255, 255, 0.5) 19.62%, #FFFFFF 55.38%), url(/assets/img/catalog/category-bg.png) 0 0 repeat, #fff;
        box-shadow: 10px 55px 65px -61px rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: 10px 55px 65px -61px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 10px 55px 65px -61px rgba(255, 255, 255, 0.75);

      }

      &-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 50px 10px 10px 10px;
        max-width: 400px;

        img {
          -o-object-fit: cover;
          object-fit: cover;
        }
      }

      &-title {
        text-align: center;
        margin-bottom: 50px;

        a {

          font-weight: 400;
          font-size: 24px;
          line-height: 33px;
          color: #0C2855;
          padding: 10px;
        }
      }
    }

    &--link {
      text-align: center;
    }
  }
}

/*--------------Blog------------------*/
body {
  &.blogs {
    .blog {
      padding-bottom: 80px;

      &__body {
        &--lists {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: auto;
          gap: 40px;
          padding-top: 70px;
        }

        &--item {
          padding: 0;
        }
      }

    }
  }
}

.blog {
  padding-bottom: 80px;

  &__body {
    &--lists {
      margin-bottom: 40px;

    }

    &--item {

      padding: 0 10px;

      &-img {
        margin-bottom: 20px;
        height: 230px;

        img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }

      &-date {
        a {
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #919191;

        }

        margin-bottom: 10px;
      }

      &-title {
        a {
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          color: #0C2855;

        }

        margin-bottom: 10px;
      }

      &-exerpt {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #919191;
        margin-bottom: 15px;
      }

      &-more {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #0C2855;
      }
    }

    &--btn {
      text-align: center;
    }
  }


  &__arrow--btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto 40px;
    width: 250px;

    .slick {
      &-dots {
        position: unset;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        width: auto;

        li {
          button {
            background: #A5DDE2;
            width: 10px;
            height: 10px;
            border-radius: 50%;
          }

          &.slick-active {
            button {
              background-color: #0C2855;
            }

          }
        }

      }


      &-prevBtn {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
      }

      &-nextBtn {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
      }
    }

    button {
      background: #a5dde22f;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      -webkit-transition: all ease .5s;
      -o-transition: all ease .5s;
      transition: all ease .5s;

      svg {
        fill: #0c285542;
      }

      &:hover {
        background: #A5DDE2;

        svg {
          fill: #0c2855;
        }
      }
    }
  }

  &__pagination {
    margin: 0 auto;

    &--list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    &--item {
      a {
        font-weight: 400;
        text-align: center;
        color: #919191;

      }

      &:not(:first-child),
      &:not(:last-child) {

        margin-right: 10px;
      }

      &:first-child {
        margin-right: 50px;
      }

      &:last-child {
        margin-left: 50px;

      }

      &:first-child,
      &:last-child {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #A5DDE2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        opacity: .7;
      }

    }
  }
}



/*-------------Home Exchange-------------------*/
.exchange {

  /* Accordion*/
  .accordion {
    padding: 50px;

    &__block {
      margin-bottom: 20px;
    }

    &__text {
      padding-top: 10px;
      display: none;
    }

    &__title {
      text-transform: uppercase;
      letter-spacing: 2px;
      position: relative;
      padding-left: 30px;
      cursor: pointer;
    }

    /* Accordion arrow*/
    &__title::before,
    &__title::after {
      content: "";
      width: 10px;
      height: 1px;
      background-color: #000;
      position: absolute;
      top: 8px;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }

    &__title::before {
      -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
      transform: rotate(40deg);
      left: 0;
    }

    &__title::after {
      -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
      transform: rotate(-40deg);
      left: 8px;
    }

    &__title.active::before,
    &__title.active::after {
      background-color: crimson;
    }

    &__title.active::before {
      -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
      transform: rotate(-40deg);
    }

    &__title.active::after {
      -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
      transform: rotate(40deg);
    }
  }

  /* Accordion END*/
}

/*------------------Page Contacts-------------------------*/
.contacts {
  &__columns {
    padding: 70px 0 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__column {
    &--title {
      margin-bottom: 50px;
      color: #0C2855;
    }

    &--lists {}

    &--item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 50px;
    }

    &--img {
      margin-right: 20px;
    }

    &--contact {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      &-title {
        font-weight: 700;
        color: #0C2855;
        margin-bottom: 10px;
      }

      &-text {
        color: #0C2855;

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }

    &--form {
      background: #f3f3f3;
      padding: 50px;

      .form {
        &__title {
          font-weight: 700;
          font-size: 20px;
          line-height: 27px;
          margin-bottom: 30px;
          text-transform: uppercase;
          color: #0C2855;
        }

        &__fields {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px;

          &--box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-bottom: 30px;

            label {
              margin-bottom: 5px;
            }

            input {
              padding: 15px 20px;
              font-size: 14px;
              line-height: 19px;
              width: 100%;

              &:focus {
                border: 1px solid #0C2855;
                color: #0C2855;
              }
            }
          }
        }
      }
    }
  }
}

/*-------------Page Delivery-----------------*/
.delivery {
  &__body {
    padding: 70px 0 80px;

    p {

      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &:last-child {
        color: #0C2855;
      }
    }
  }
}


/*-------------Footer---------------------*/
.footer {
  padding: 50px 0;
  background-color: #0C2855;

  &__lists {}

  &__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    &-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 50px;
    }

    &-copyright {
      font-weight: 400;
      font-size: 14px;
      line-height: 118.75%;
      text-transform: uppercase;
      color: #919191;
    }

    &--title {
      font-weight: 700;
      line-height: 137.5%;
      font-size: 1rem;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 14px;
    }

    &--menu {
      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 10px;
          }

          a {
            font-weight: 400;
            font-size: 1rem;
            line-height: 137.5%;
            color: #A5DDE2;

          }
        }
      }
    }

    &--form-title {
      font-weight: 400;
      font-size: 1rem;
      line-height: 22px;
      line-height: 137.5%;
      margin-bottom: 20px;
      color: #fff
    }

    &--form-fields {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      input[type="search"] {
        border: 1px solid #919191;
        padding: 6px 20px;
        -webkit-box-flex: 1;
        -ms-flex: 1 0;
        flex: 1 0;
        border-radius: 100px;
        background-color: transparent;

        &:focus {
          color: #FFFFFF;
        }
      }

      input[type="button"] {
        font-weight: 400;
        font-size: 14px;
        line-height: 118.75%;
        text-transform: uppercase;
        color: #0C2855;
        padding: 6px 20px;
        background: #A5DDE2;
        border-radius: 100px;
        margin-left: -20px;
        height: 100%;
        cursor: pointer;
      }
    }
  }
}



@import 'media';