@import 'fonts';
@import 'reset';



/*Menu Burger*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0 15px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
  }

  .container {
    max-width: 1660px;
    margin: 0 auto;
  }

  &__body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 98px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 227px;
    flex: 0 0 227px;
    z-index: 3;
  }

  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #0C2855;
    z-index: 2;
    position: relative;
  }

  &__list li {
    margin-left: 30px;

    &:first-child {
      margin-left: 45px;
    }
  }

  &__list li a {
    color: #0C2855;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 137.5%;
    font-weight: 600;
  }

  &__burger {
    display: none;
  }

}

.main {
  padding-top: 100px;
}

@media (max-width: 1000px) {
  body.lock {
    overflow: hidden;
  }

  .header {
    &__body {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    &__burger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      width: 54px;
      height: 54px;
      z-index: 3;
      cursor: pointer;
      background-color: #00B18B;
      border-radius: 50%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      padding-right: 10px;

      span {
        background-color: #0C2855;
        width: 30px;
        height: 2px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        margin: 8px 0 8px;

      }

      &:before,
      &:after {
        content: "";
        background-color: #0C2855;
        width: 30px;
        height: 2px;

        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;

      }

      &:after {
        width: 17px;
      }

      &.active span {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
      }

      &.active::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 26px;
      }

      &.active::after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 26px;
        position: absolute;
        width: 30px;
      }
    }

    &__menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #0C2855;
      padding: 70px 0 0 0;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      z-index: 2;

      &.active {
        left: 0;
        z-index: 2;
      }
    }

    &__list {
      display: block;

      li {
        a {
          color: #fff;
        }
      }
    }
  }

}


/*----Footer down (Липкий Footer)---------*/
html,
body {
  height: 100%;
  /*Magic*/
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  /*Magic*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Magic*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*Magic*/
}

.header {
  font-size: 24px;
  background-color: #fff;
  text-align: center;
  color: #0C2855;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  /*Magic*/
}

.footer {
  font-size: 24px;
  background-color: #0C2855;
  text-align: center;
  padding: 30px;
  color: #fff;
}