@import 'fonts';
@import 'reset';
@import 'slick';
@import 'slick-theme';



/*Menu Burger*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0 15px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
  }

  .container {
    max-width: 1660px;
    margin: 0 auto;
  }

  &__body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 98px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 227px;
    flex: 0 1 227px;
    z-index: 3;
  }

  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #0C2855;
    z-index: 2;
    position: relative;
  }



  &__list li a {
    color: #0C2855;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 137.5%;
    font-weight: 600;
  }

  &__burger {
    display: none;
  }

  &__menu {}

  &__social {
    z-index: 2;
    position: relative;

    &-link {}

    &-dealer {
      z-index: 2;

      &--link {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #0C2855;
        padding: 15px 40px;
        background: #F3F3F3;
        border-radius: 100px;
      }
    }
  }

}

.main {
  padding-top: 100px;
}

@media (max-width: 1024px) {
  body.lock {
    overflow: hidden;
  }

  .header {
    &__body {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    &__burger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      width: 54px;
      height: 54px;
      z-index: 3;
      cursor: pointer;
      background-color: #00B18B;
      border-radius: 50%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      padding-right: 10px;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;

      span {
        background-color: #0C2855;
        width: 30px;
        height: 2px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        margin: 8px 0 8px;

      }

      &:before,
      &:after {
        content: "";
        background-color: #0C2855;
        width: 30px;
        height: 2px;

        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;

      }

      &:after {
        width: 17px;
      }

      &.active span {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
      }

      &.active::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 26px;
      }

      &.active::after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 26px;
        position: absolute;
        width: 30px;
      }
    }

    &__menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #0C2855;
      padding: 170px 0 0 0;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      z-index: 2;

      &.active {
        left: 0;
        z-index: 2;
      }
    }

    &__list {
      display: block;

      li {
        a {
          color: #fff;
        }
      }
    }

    &__social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }

}

/*---------Template----------------------*/
.btn {
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;

  &__navy {
    background: #0C2855;
    color: #FFFFFF;

    &:hover {
      background: #00B18B;
    }
  }
}

.heading {
  &__box {
    padding: 60px 0 40px;

    &--title {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      text-transform: uppercase;
      color: #0C2855;
    }
  }

}

/*----Footer down (Липкий Footer)---------*/
html,
body {
  height: 100%;
  /*Magic*/
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  /*Magic*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Magic*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*Magic*/
}

.header {
  font-size: 24px;
  background-color: #fff;
  text-align: center;
  color: #0C2855;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  /*Magic*/
}

/*-----------All Slider style------------------------------*/
.slider {
  &__first {

    background: url(/assets/img/icon/filter.svg) 50% 50% no-repeat, -o-linear-gradient(255.34deg, #0C2855 44.09%, rgba(12, 40, 85, 0.5) 84.13%), url(/assets/img/icon/pattern.svg) 0 0 repeat;

    background: url(/assets/img/icon/filter.svg) 50% 50% no-repeat, linear-gradient(194.66deg, #0C2855 44.09%, rgba(12, 40, 85, 0.5) 84.13%), url(/assets/img/icon/pattern.svg) 0 0 repeat;
    padding-bottom: 60px;

    &--lists {
      padding: 50px 0 41px;

      &.slick-dotted.slick-slider {
        margin-bottom: 0;
      }

      .slick-dots {
        li {
          button {
            background: rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            width: 10px;
            height: 10px;
          }

          &.slick-active {
            button {
              background-color: #fff;
            }
          }
        }
      }

      .slick-arrow {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #a5dde234;
        -webkit-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;

        &:before {
          color: #0c2855c5;
        }

        &:hover {
          background-color: #A5DDE2;

          &::before {
            color: #0C2855;
          }
        }
      }

      .slick-next {
        right: 0;
      }

      .slick-prev {
        left: 0;
      }
    }

    &--item {
      &-subtitle {
        font-weight: 400;
        font-size: 1rem;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 10px;
      }

      &-title {
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        max-width: 680px;
      }

      &-img {
        max-width: 328px;
        margin: 0 auto;
        position: relative;


      }

      &-btn {
        text-align: center;

        a {
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          text-transform: uppercase;
          color: #0C2855;
          background: #A5DDE2;
          border-radius: 100px;
          display: inline-block;
          padding: 15px 40px;
          -webkit-transition: all ease .5s;
          -o-transition: all ease .5s;
          transition: all ease .5s;

          &:hover {
            background-color: #fff;
          }
        }
      }
    }
  }
}

/*----------------Home Page-----------------*/
.about__brend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 175px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 80px;

  &--img {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin-right: 70px;
  }

  &--text {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    font-weight: 400;
    font-size: 1rem;
    color: #0C2855;
    line-height: 22px;

    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

/*-----------Catalog----------------*/
.catalog {
  &__home {
    padding-bottom: 80px;
    background-color: #A5DDE2;

    &--lists {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-bottom: 70px;
    }

    &--item {
      background: -o-linear-gradient(302.86deg, rgba(255, 255, 255, 0) 19.62%, #FFFFFF 55.38%), url(/assets/img/catalog/category-bg.png) 0 0 repeat, #fff;
      background: linear-gradient(147.14deg, rgba(255, 255, 255, 0) 19.62%, #FFFFFF 55.38%), url(/assets/img/catalog/category-bg.png) 0 0 repeat, #fff;
      -webkit-transition: all ease .5s;
      -o-transition: all ease .5s;
      transition: all ease .5s;

      &:hover {
        background: -o-linear-gradient(302.86deg, rgba(255, 255, 255, 0.5) 19.62%, #FFFFFF 55.38%), url(/assets/img/catalog/category-bg.png) 0 0 repeat, #fff;
        background: linear-gradient(147.14deg, rgba(255, 255, 255, 0.5) 19.62%, #FFFFFF 55.38%), url(/assets/img/catalog/category-bg.png) 0 0 repeat, #fff;
        box-shadow: 10px 55px 65px -61px rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: 10px 55px 65px -61px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 10px 55px 65px -61px rgba(255, 255, 255, 0.75);
      }

      &-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 50px 10px 10px 10px;
        max-width: 400px;

        img {
          -o-object-fit: cover;
          object-fit: cover;
        }
      }

      &-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        color: #0C2855;
        padding: 10px 10px 74px;
      }
    }

    &--link {
      text-align: center;
    }
  }
}

/*--------------Blog------------------*/
.blog {
  padding-bottom: 80px;

  &__body {
    &--lists {

      margin-bottom: 40px;

    }

    &--item {

      padding: 0 10px;

      &-img {
        margin-bottom: 20px;
        height: 230px;

        img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }

      &-content {}

      &-date {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #919191;
        margin-bottom: 10px;
      }

      &-title {
        font-weight: 700;
        font-size: 1rem;
        line-height: 22px;
        color: #0C2855;
        margin-bottom: 10px;
      }

      &-exerpt {
        font-weight: 400;
        font-size: 1rem;
        line-height: 22px;
        color: #919191;
        margin-bottom: 15px;
      }

      &-more {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #0C2855;
      }
    }

    &--btn {
      text-align: center;
    }
  }
}


/*-------------Footer---------------------*/
.footer {
  padding: 50px 0;
  background-color: #0C2855;

  &__lists {}

  &__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    &-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 50px;
    }

    &-copyright {
      font-weight: 400;
      font-size: 14px;
      line-height: 118.75%;
      text-transform: uppercase;
      color: #919191;
    }

    &--title {
      font-weight: 700;
      line-height: 137.5%;
      font-size: 1rem;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 14px;
    }

    &--menu {
      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 10px;
          }

          a {
            font-weight: 400;
            font-size: 1rem;
            line-height: 137.5%;
            color: #A5DDE2;

          }
        }
      }
    }

    &--form-title {
      font-weight: 400;
      font-size: 1rem;
      line-height: 22px;
      line-height: 137.5%;
      margin-bottom: 20px;
      color: #fff
    }

    &--form-fields {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      input[type="search"] {
        border: 1px solid #919191;
        padding: 6px 20px;
        -webkit-box-flex: 1;
        -ms-flex: 1 0;
        flex: 1 0;
        border-radius: 100px;
        background-color: transparent;

        &:focus {
          color: #FFFFFF;
        }
      }

      input[type="button"] {
        font-weight: 400;
        font-size: 14px;
        line-height: 118.75%;
        text-transform: uppercase;
        color: #0C2855;
        padding: 6px 20px;
        background: #A5DDE2;
        border-radius: 100px;
        margin-left: -20px;
        height: 100%;
        cursor: pointer;
      }
    }
  }
}



@import 'media';